{
  "root": true,
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "extends": ["standard", "plugin:vue/essential"],
  "plugins": ["html"],
  "rules": {
    "generator-star-spacing": 0,
    "space-before-function-parent": 0,
    "semi": ["error", "always"]
  }
}
