// @import '../../node_modules/vuetify/src/stylus/settings/_colors'

// $theme := {
//   primary: $red.darken-2
//   accent: $red.accent-2
//   secondary: $grey.darken-3
//   info: $blue.lighten-1
//   warning: $amber.darken-2
//   error: $red.accent-4
//   success: $green.lighten-2
// }

// @import '../../node_modules/vuetify/src/stylus/main'
body{
  background: #f9f9f9;
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" , sans-serif;
}
.jl{
  justify-content: flex-start;
}
.jc{
  justify-content: center;
}
.jr{
  justify-content: flex-end;
}
.fixed-bottom{
  position: fixed;
  width:300px;
  bottom:0
}
.crud-grid-thumb{
  max-height:36px;
}
.quill-editor button {
  margin-bottom:0;
}

// vuetify reset
.btn--floating .btn__content{
  flex:1 0 auto;
}
table.table tr:not(:last-child){
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.application--light .input-group:not(.input-group--error) .input-group__details:before{
  background-color: rgba(0,0,0,0.2);
}
.input-group label{
  font-size: 12px;
}

.input-group--text-field.input-group--dirty:not(.input-group--textarea) label{
  transform: translate3d(0, -18px, 0);
}

.list__tile {
  font-size: 12px;
}
Ï
.navigation-drawer {
  width: 256px;
}

.btn--floating{
  z-index: 1;
}

.avatar, .avatar .icon, .avatar img {
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dropzone {
  border: 2px solid rgba(0, 94, 182, 0.8);
  background: rgba(0, 94, 182, 0.1);
  padding: 0;
}

.toolbar--fixed{
  z-index: 30;
}

.navigation-drawer{
  z-index: 31;
}

.stepper{
  box-shadow: none !important;
  padding-bottom: 0;
}

.datatable > thead {
  background: #1976d2;
}

.datatable > thead > tr > th {
  color: #ffffff !important;
  font-size: 12px;
}

.datatable > thead > tr > th > i {
  color: #ffffff !important;
}


@media screen and (max-width: 599px){
  .container {
      padding: 8px;
  }
}